@custom-media --mobile ( max-width: 500px );

@custom-media --tablet ( max-width: 800px );
html, body{
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}
.wrapper{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template: 1fr / auto;
  grid-template-areas: "header"
                       "main"
                       "footer";

  & .header{
    grid-area: header;
    height: 25vh;
    background: #000;
    color: #fff;
    display: flex;

    @media ( --mobile ) {
      height: 20vh;
      align-items: center;
    }
  }

  & .main{
    grid-area: main;
    height: 70vh;

    & .title-map{
      margin: 1em auto 0;
      padding: 0;
      width: 80%;
      text-align: center;

      @media ( --tablet ) {
        font-size: 16px;
      }

      @media ( --mobile ) {
        margin: 0 auto;
        font-size: 14px;
      }
    }
  }

  & footer{
    text-align: center;
    height: 5vh;
    grid-area: footer;
    background: #000;
    & .footer-text{
      margin: 0;
      padding: 0;
      font-size: 14px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
    }
  }
}
.container-header{
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  @media ( --mobile ) {
    margin: 2em auto 0;
    font-size: 14px;
  }

  @media ( --tablet ) {
    flex-direction: column;
  }
}
.container-country{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 140px;
  margin: auto;
  height: 80px;
  padding: 10px 0 0;

  @media ( --mobile ) {
    display: none;
  }

  & .title-country{
    margin: 0;
    font-size: 1.6em;
  }

  & .flag-country{
    width: 75px;
  }
}
.form-search {
  display: flex;
  height: 60px;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  visibility: hidden;

  @media ( --mobile ) {
    width: 100%;
  }

  & .content-search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;

    @media ( --mobile ) {
      flex-direction: column;
    }

    & *{
      margin: .2em;
    }

    & label{
      cursor: pointer;
    }

    & .input-search{
      height: 35px;
      width: 420px;
      outline: none;
      background: rgba( 255, 255, 255, .2 );
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 18px;
      padding-left: .2em;

      @media ( --mobile ) {
        width: 250px;
      }
    }

    & .icon-search{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 25px;

      @media ( --mobile ) {
        display: none;
      }
    }
  }
}
.container-map{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em 0 0;
  box-sizing: border-box;
  visibility: hidden;
  position: relative;

  & .map{
    height: 56vh;
    width: 80%;
    box-shadow: 0px 0px 5px #000000;
  }

}

.content-loader{
  position: absolute;
  background: rgba(0, 188, 212, .7490);
  height: 56vh;
  width: 80%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 1em auto 0;
  display: none;
  align-items: center;
  justify-content: center;

  & img{
    width: 50px;
  }
}

.content-loader.loader{
  display: flex;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;	
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		
	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		opacity: 0;		
	}
	80% {
		opacity: 1;	
	}	
	100% {
		opacity: 1;	
	}		
}

.slideLeft{
	animation-name: slideLeft;
	-webkit-animation-name: slideLeft;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideLeft {
	0% {
		transform: translateX(150%);
	}
	50%{
		transform: translateX(-8%);
	}
	65%{
		transform: translateX(4%);
	}
	80%{
		transform: translateX(-4%);
	}
	95%{
		transform: translateX(2%);
	}			
	100% {
		transform: translateX(0%);
	}
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}
}
